<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <url>
    <domain>localhost</domain>
    <port>32768</port>
    <all>/v1/</all>
    <cpu>/v1/cpu</cpu>
    <memory>/v1/mem</memory>
    <allstorage>/v1/disk/</allstorage>
    <storage>/v1/disk/[A-Z]</storage>
    <allnetwork>/v1/network/</allnetwork>
    <network>/v1/network/eth[0-9]{1,}</network>
  </url>
  <system>
    <drives>C:,D:,E:</drives>
    <netdevice>Realtek PCIe GBE Family Controller</netdevice>
  </system>
  <application>
    <looptime>500</looptime>
  </application>
</configuration>
